.navbar {
  width: 100%;
  background: black;
  border-color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

body {
  margin-top: 70px;
  margin-left: 55px;
  max-width: 1000px;
  font-family: "Montserrat", sans-sherif;
  font-size: ;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h3 {
  padding: 60px 0 40px;
  font-size: 30px;
  color: rgb(40, 19, 60);
  font-weight: bolder;
  line-height: 1.5;
  margin-left: 32px;
}

p {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: -20px;
  line-height: 1.5;
  opacity: 0.7;
  width: 400px;
  font-size: 18px;
}

.design {
  width: 275px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 55px;
}

.solutions {
  width: 275px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 55px;
}

.resume {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

@media (max-width: 913px) {
  body {
    max-width: 1200px;
    margin: 30px;
  }

  .solutions {
    width: 250px;
  }

  .design {
    width: 300px;
  }

  p {
    width: 260px;
  }
}

@media (max-width: 431px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .design {
    display: none;
  }

  h3,
  p {
    width: 240px;
    margin: 20px;
    margin-left: -20px;
  }

  .solutions {
    margin: 10px;
    margin-bottom: -40px;
    margin-left: -15px;
    width: 300px;
  }
}

@media (max-width: 350px) {
  h3,
  p {
    width: 280px;
  }
}
