.navbar {
  width: 100%;
  background: black;
  border-color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

body {
  margin-top: 70px;
}

h2 {
  padding: 60px 0 40px;
  font-size: 30px;
  color: rgb(40, 19, 60);
  font-weight: 900;
  line-height: 1.5;
  margin-left: 35px;
}

p {
  margin-left: 35px;
  margin-top: -20px;
  line-height: 1.5;
  opacity: 0.7;
}

.design {
  width: 350px;
  max-height: 200px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 55px;
}
