:root {
  --secundary-hover-color: rgb(91, 26, 152);
}

.navbar {
  width: 100%;
  background: black;
  border-color: black !important;
}

body {
  max-width: 1200px;
}

img {
  width: 40px;
  height: 40px;
}

h6 {
  font-size: 25px;
  margin-left: 35px;
  margin-top: 120px;
  margin-bottom: 40px;
  color: rgb(179, 175, 170);
}

a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}

.name,
.email,
.phone,
.message {
  padding: 10px 150px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  border-radius: 8px;
  border: 2px solid rgb(226, 224, 197);
  background: rgb(251, 249, 245);
}

.btn {
  padding: 10px 55px;
  padding-left: 50px;
  margin-bottom: 30px;
  margin-left: 150px;
  border-radius: 40px;
  font-weight: 700;
  background: rgb(133, 187, 232);
  color: white !important;
  border-style: none;
}

.btn:hover {
  background-color: rgb(91, 26, 152);
  color: rgb(233, 236, 238);
  border-style: none;
}

.contact {
  color: rgb(179, 175, 170);
  margin-left: 35px;
  font-weight: 700;
  margin-bottom: -20px;
  margin-top: -200px;
  position: fixed;
}

.img-fluid {
  width: 55%;
  min-height: 20%;
  margin-left: 0;
  position: fixed;
}

@media (max-width: 1290px) {
  .img-fluid {
    min-height: 1000px;
  }

  h6 {
    font-size: 20px;
  }

  .name,
  .email,
  .phone,
  .message {
    padding: 10px 190px;
    padding-left: 10px;
  }
  .btn {
    margin-left: 130px;
    margin-top: 20px;
  }

  .contact {
    margin-top: 600px;
  }
}

@media (max-width: 1000px) {
  h6 {
    font-size: 40px;
    margin-left: -20px;
  }

  .name,
  .email,
  .phone,
  .message {
    padding: 10px 90px;
    margin-left: -20px;
    padding-left: 10px;
  }

  .btn {
    margin-left: 40px;
    margin-top: 20px;
  }

  .contact {
    margin-top: 500px;
    margin-left: -20px;
  }
}

@media (max-width: 900px) {
  h6 {
    font-size: 30px;
    margin-left: 10px;
  }

  .name,
  .email,
  .phone,
  .message {
    padding: 10px 75px;
    margin-left: 10px;
    padding-left: 10px;
  }

  .btn {
    margin-left: 70px;
    margin-top: 20px;
  }

  .contact {
    margin-top: 450px;
    margin-left: 10px;
  }
}

@media (max-width: 800px) {
  .img-fluid {
    width: 60%;
  }

  h6 {
    font-size: 36px;
    margin-left: 10px;
  }

  .name,
  .email,
  .phone,
  .message {
    padding: 10px 110px;
    padding-left: 10px;
    margin-left: 10px;
  }

  .btn {
    padding: 10px 35px;
    margin-left: 90px;
    margin-top: 15px;
  }

  .contact {
    margin-top: 230px;
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  h6 {
    font-size: 30px;
    margin-left: 10px;
  }

  .name,
  .email,
  .phone,
  .message {
    padding: 10px 30px;
    padding-left: 10px;
    margin-left: 10px;
  }

  .btn {
    padding: 10px 35px;
    margin-left: 60px;
    margin-top: 15px;
  }

  .contact {
    margin-top: 30px;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .img-fluid {
    display: none;
  }
  h6 {
    font-size: 26px;
  }

  .name,
  .email,
  .phone,
  .message {
    padding: 10px 160px;
    padding-left: 10px;
  }

  .btn {
    padding: 10px 35px;
    margin-left: 120px;
    margin-top: 15px;
  }

  .contact {
    margin-top: 10px;
  }
}
