:root {
  --secundary-hover-color: rgb(91, 26, 152);
}

.navbar {
  width: 100%;
  background: black;
  border-color: black !important;
}

img {
  width: 40px;
  height: 40px;
}

body {
  background-image: url("images/postit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h6 {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 120px;
  margin-bottom: 40px;
  color: rgb(179, 175, 170);
}
a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
}

.name,
.email,
.phone {
  padding: 10px 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 40px;
  background: rgb(251, 249, 245);
}
.message {
  padding: 10px 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 40px;
  background: rgb(251, 249, 245);
  text-align: left;
}

.btn {
  padding: 10px 35px;
  margin-bottom: 30px;
  border-radius: 40px;
  padding-left: 40px;
  font-weight: 700;
  background: rgb(145, 210, 243);
  color: bisque !important;
  margin-left: 110px;
}

.btn:hover {
  background-color: var(--secundary-hover-color);
  color: rgb(233, 236, 238);
}

.contact {
  color: rgb(179, 175, 170);
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
}

@media (max-width: 930px) {
  h6 {
    margin-left: 5px;
  }
  .grid {
    margin-left: -20px;
  }
}

@media (max-width: 550px) {
  h6 {
    margin-left: 40px;
  }

  .grid {
    margin-left: 30px;
  }

  .contact {
    margin-left: 10px;
    font-size: 15px;
  }
}

@media (max-width: 431px) {
  .name,
  .email,
  .phone,
  .message {
    padding: 7px 55px;
  }

  h6 {
    margin-left: 40px;
  }

  .btn {
    margin-left: 80px;
    padding: 7px 30px;
  }

  .contact {
    margin-left: 10px;
    font-size: 11px;
  }
}

@media (max-width: 391px) {
  .name,
  .email,
  .phone,
  .message {
    padding: 7px 50px;
  }
  h6 {
    margin-left: 35px;
  }

  .btn {
    margin-left: 70px;
    padding: 7px 25px;
  }

  .contact {
    margin-left: 4px;
    font-size: 10px;
  }
}
