:root {
  --secundary-hover-color: rgb(91, 26, 152);
}

.navbar {
  width: 100%;
  background: black;
  border-color: black !important;
}

img {
  width: 40px;
  height: 40px;
}

body {
  background-image: url("images/postit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h6 {
  font-size: 25px;
  margin-top: 120px;
  margin-bottom: 40px;
  color: rgb(179, 175, 170);
}
a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
}

.name,
.email,
.phone {
  padding: 10px 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 40px;
  background: rgb(251, 249, 245);
}
.message {
  padding: 10px 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 40px;
  background: rgb(251, 249, 245);
  text-align: left;
}

.btn {
  padding: 10px 35px;
  margin-bottom: 30px;
  border-radius: 40px;
  padding-left: 40px;
  font-weight: 700;
  background: rgb(145, 210, 243);
  color: bisque !important;
  margin-left: 110px;
}

.btn:hover {
  background-color: var(--secundary-hover-color);
  color: rgb(179, 175, 170);
}

.contact {
  color: rgb(179, 175, 170);
}

@media (max-width: 930px) {
  h6,
  .grid {
    margin-left: -20px;
  }
}

@media (max-width: 431px) {
  .name,
  .email,
  .phone,
  .message {
    padding: 10px 100px;
    margin-left: 30px;
  }

  h6 {
    margin-left: 25px;
  }

  .btn {
    margin-left: 150px;
  }

  .contact {
    margin-left: 30px;
  }
}

@media (max-width: 391px) {
  .name,
  .email,
  .phone,
  .message {
    padding: 10px 80px;
    margin-left: 30px;
  }

  h6 {
    margin-left: 20px;
  }

  .btn {
    margin-left: 130px;
  }

  .contact {
    margin-left: 30px;
  }
}
