:root {
  --primary-logo-background-color: rgb(133, 187, 232);
}

.navbar {
  width: 100%;
  background-color: black;
  border-color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

body {
  font-family: "Montserrat", sans-sherif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: #333333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero h2 {
  position: relative;
  font-weight: bolder;
  line-height: 1.5;
  z-index: 1;
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgb(112, 49, 172);
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 50px;
  line-height: 1.4;
  margin-left: 80px;
  color: rgb(202, 205, 199) !important;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #a4c2eb;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: black;
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(6, 6, 6, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.logo1 {
  width: 60px;
  height: 60px;
  margin-left: 8px;
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .hero h2 {
    font-size: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero p {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }
}

@media (max-width: 860px) {
  .hero h2 {
    margin-top: 10px;
    font-size: 90px;
    margin-left: 75px;
  }

  .hero p {
    font-size: 60px;
    margin-left: 75px;
  }

  .logo1 {
    margin-right: 400px;
  }
}

@media (max-width: 541px) {
  .hero h2 {
    font-size: 48px;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: -60px;
  }

  .hero p {
    font-size: 45px;
  }

  .logo1 {
    margin-right: 200px;
  }
}

@media (max-width: 430px) {
  .hero h2 {
    font-size: 43px;
    margin-left: 30px;
  }
  .hero p {
    font-size: 30px;
    margin-left: 30px;
  }
  .logo1 {
    margin-right: 180px;
  }
}

@media (max-width: 390px) {
  .hero h2 {
    font-size: 35px;
    margin-left: 20px;
  }
  .hero p {
    font-size: 30px;
    margin-left: 20px;
  }

  .logo1 {
    width: 30px;
    height: 30px;
    margin-right: 150px;
  }
}
