.navbar {
  width: 100%;
}

body {
  width: 1200px;
  padding: 0;
  margin: 30px;
}

h1 {
  padding: 120px 0 80px;

  font-size: 60px;
  color: rgb(40, 19, 60);
  font-weight: bolder;
  line-height: 1.5;
}

h3,
h4 {
}

h3 {
  font-weight: bolder;
}

h4 {
  margin-top: 20px;
}

.logo {
  font-size: 25px;
  color: rgb(133, 187, 232);
  font-weight: bolder;
  background: rgb(27, 35, 30);
  border: 4px solid rgb(133, 187, 232);
  padding: 10px;

  margin-top: 10px;
  border-radius: 50%;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.container-fluid {
  display: inline-block;
}
