:root {
  --primary-logo-background-color: rgb(133, 187, 232);
  --primary-font-color: rgb(179, 175, 170);
}

.navbar {
  width: 100%;
  background-color: black;
  border-color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

body {
  background-image: url("images/postit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

h1 {
  padding: 120px 0 80px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 50px;
  color: rgb(91, 26, 152);
  font-weight: bolder;
  line-height: 1.5;
}

p {
  margin-left: 20px;
  margin-bottom: 40px;
  color: var(--primary-font-color);
  font-size: 35px;
  line-height: 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.logo1 {
  width: 60px;
  height: 60px;
  margin-left: 8px;
}

p {
  margin-left: 20px;
  color: var(--primary-font-color);
  font-size: 35px;
  line-height: 2;
}
@media (max-width: 391px) {
  p {
    font-size: 30px;
  }
}

@media (min-width: 1600px) {
  .content {
    margin-left: -50px;
  }

  h1 {
    font-size: 80px;
  }

  p {
    font-size: 60px;
  }
}

@media (min-width: 1900px) {
  .container {
    margin-left: 150px;
  }
  h1 {
    font-size: 110px;
  }

  p {
    font-size: 90px;
  }
}
