:root {
  --primary-logo-background-color: rgb(133, 187, 232);
}

.navbar {
  width: 100%;
  font-weight: bold;
  background: black;
  border-color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-link:hover {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px goldenrod, 0px 3px 4px 3px rgb(112, 49, 172);
}

.link-container {
  max-width: 900px;
}
body {
  font-family: "Orbitron", serif;
}

h3 {
  font-weight: bolder;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 150px;
  color: rgb(179, 175, 170);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-evenly;
}

.website,
.apps,
.ai,
.react {
  list-style: none;
  font-weight: 300;
  font-size: 17px;
  padding: 10px 20px;
  width: 100px;
  padding-left: 10px;
  margin-top: -8px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(133, 187, 232);
  background-color: rgb(244, 247, 244);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
}

.website-links-travel,
.website-links-weather,
.website-links-quote,
.website-links-ai {
  text-decoration: none;
  color: var(--primary-logo-background-color);
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  padding-left: 10px;
  margin-left: -280px;
  background: rgb(244, 247, 244);
  border-bottom: 2px solid rgb(133, 187, 232);
  box-shadow: 0px 3px 6px 0px rgba(61, 68, 74, 0.3),
    0px 3px 4px 3px rgba(125, 137, 139, 0.15);
}

.website-links-weather {
  margin-bottom: 50px;
}

.website-links-clock,
.website-links-dictionary {
  text-decoration: none;
  color: var(--primary-logo-background-color);
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  padding-left: 10px;
  margin-left: -310px;
  background: rgb(244, 247, 244);
  border-bottom: 2px solid rgb(133, 187, 232);
  box-shadow: 0px 3px 6px 0px rgba(61, 68, 74, 0.3),
    0px 3px 4px 3px rgba(125, 137, 139, 0.15);
}

.website-links-scroll {
  text-decoration: none;
  color: var(--primary-logo-background-color);
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  margin-left: -310px;
  background: rgb(244, 247, 244);
  border-bottom: 2px solid rgb(133, 187, 232);
  box-shadow: 0px 3px 6px 0px rgba(61, 68, 74, 0.3),
    0px 3px 4px 3px rgba(125, 137, 139, 0.15);
}

.website-links-travel:hover,
.website-links-weather:hover,
.website-links-clock:hover,
.website-links-quote:hover,
.website-links-scroll:hover,
.website-links-ai:hover,
.website-links-dictionary:hover {
  font-size: 22px;
  font-weight: 800;
  text-decoration: underline;
  color: rgb(133, 187, 232);
  transition: all 200ms ease-in-out;
}

@media (max-width: 850px) {
  .grid {
    grid-gap: 15px;
    margin-right: -40px;
  }
}

@media (max-width: 800px) {
  h3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .work-container {
    margin-left: -70px;
  }
  .grid {
    grid-gap: 25px;
    margin-right: 80px;
  }
  .website,
  .apps,
  .ai,
  .react {
    display: none;
  }

  .website-links-travel,
  .website-links-weather,
  .website-links-clock,
  .website-links-ai,
  .website-links-dictionary {
    padding: 8px 10px;
    font-size: 10px;
    font-weight: 600;
  }
}

@media (max-width: 790px) {
  body {
    margin-left: -150px;
  }
  h3 {
    margin-top: 90px;
    margin-left: 180px;
    margin-bottom: 50px;
  }

  .grid {
    grid-gap: 25px;
  }

  .website-links-travel,
  .website-links-weather,
  .website-links-ai,
  .website-links-quote {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    margin-left: -230px;
  }

  .website-links-clock,
  .website-links-dictionary {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    margin-left: -250px;
  }

  .website-links-quote {
    margin-right: 60px;
  }

  .website-links-scroll {
    font-size: 15px;
    padding: 10px 20px;
    margin-left: -230px;
  }
}

@media (max-width: 540px) {
  body {
    margin-left: -30px;
  }
  h3 {
    margin-left: 47px;
  }
  .website-links-travel,
  .website-links-weather,
  .website-links-ai,
  .website-links-quote {
    font-size: 12px;
    margin-left: -190px;
    padding: 10px 16px;
  }

  .website-links-clock {
    font-size: 12px;
    margin-left: -160px;
    padding: 10px 16px;
  }

  .website-links-dictionary {
    font-size: 12px;
    margin-left: -160px;
    padding: 10px 16px;
  }

  .website-links-quote {
    margin-right: 67px;
  }

  .website-links-scroll {
    font-size: 12px;
    margin-left: -160px;
    margin-right: 10px;
    padding: 10px 16px;
  }
}

@media (max-width: 440px) {
  body {
    margin-left: -15px;
  }
  h3 {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .grid {
    grid-gap: 2px;
  }

  .website-links-travel,
  .website-links-weather,
  .website-links-ai {
    margin-left: -135px;
    margin-right: 35px;
    font-size: 6px;
    padding: 6px 7px;
  }
  .website-links-quote {
    margin-left: -135px;
    font-size: 6px;
    padding: 6px 7px;
  }

  .website-links-scroll {
    margin-left: -125px;
    font-size: 6px;
    padding: 6px 7px;
  }

  .website-links-clock {
    font-size: 6px;
    padding: 6px 7px;
    margin-left: -130px;
  }

  .website-links-dictionary {
    font-size: 6px;
    padding: 6px 7px;
    margin-left: -130px;
  }
}

@media (max-width: 390px) {
  body {
    margin-left: 40px;
  }
  h3 {
    margin-left: -30px;
  }

  .website-links-travel,
  .website-links-weather,
  .website-links-ai {
    font-size: 4px;
    padding: 4px 4px;
    margin-left: -120px;
  }
  .website-links-quote {
    font-size: 4px;
    padding: 4px 4px;
    margin-left: -120px;
  }

  .website-links-scroll {
    font-size: 4px;
    padding: 4px4px;
    margin-left: -100px;
  }

  .website-links-clock {
    font-size: 4px;
    padding: 4px 4px;
    margin-left: -105px;
  }

  .website-links-dictionary {
    font-size: 4px;
    padding: 4px 4px;
    margin-left: -105px;
  }
}
