.navbar {
  width: 100%;
}

h3 {
  font-weight: bolder;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 90px;
}

img {
  max-height: 160px;
}

.card-body {
  min-height: 200px;
}

.card {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 33px;
  background: rgb(251, 249, 245);
}

.card-title {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.btn-primary {
  margin: 0;
  padding: 10px 70px;
  position: relative;
  max-width: 100%;
  background-color: rgb(27, 35, 30);
  color: rgb(133, 187, 232);
  font-weight: bold;
  font-size: 16px;
  border: 1.5px solid rgb(27, 35, 30);
}

.btn-primary:hover {
  background-color: rgb(91, 26, 152);
  color: bisque;
  font-weight: bold;
  font-weight: bold;
  font-size: 16px;
  border: 1.5px solid rgb(91, 26, 152);
}

p {
  margin-bottom: 80px;
}
