:root {
  --primary-logo-background-color: rgb(133, 187, 232);
  --secundary-hover-color: rgb(91, 26, 152);
}

.navbar {
  width: 100%;
  background: black;
  border-color: black !important;
}

.logo {
  width: 40px;
  height: 40px;
}

h3 {
  color: var(--primary-logo-background-color);
  font-weight: bolder;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 60px;
}
img {
  max-height: 150px;
}

.card-body {
  min-height: 250px;
}

.card {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 33px;
  background: rgb(251, 249, 245);
}

.card-title {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.btn-primary {
  margin: 0;
  padding: 10px 70px;
  position: relative;
  max-width: 100%;
  background-color: rgb(27, 35, 30);
  color: var(--primary-logo-background-color);
  font-weight: bold;
  font-size: 16px;
  border: 1.5px solid rgb(27, 35, 30);
}

.btn-primary:hover {
  background-color: var(--secundary-hover-color);
  color: bisque;
  font-weight: bold;
  font-weight: bold;
  font-size: 16px;
  border: 1.5px solid var(--secundary-hover-color);
}

p {
  margin-bottom: 80px;
  opacity: 0.7;
}
